.date-picker .btnwrap {
    position: relative;
    width: 7.2rem;
    height: 1.13rem;
    line-height: 1.13rem;
    box-sizing: border-box;
    padding: 0 .3rem 0 .47rem;
    color: rgba(0,0,0,.27);
    font-size: .28rem;
    border-top: 1px solid rgba(0,0,0,.27);
    border-bottom: 1px solid rgba(0,0,0,.27);
    background-color: #fff
}

    .date-picker .btnwrap.on {
        color: rgba(0,0,0,.72)
    }

    .date-picker .btnwrap .arrow {
        position: absolute;
        top: .36rem;
        right: .47rem;
        width: .24rem;
        height: .42rem;
        transform: rotate(90deg)
    }

        .date-picker .btnwrap .arrow.up {
            transform: rotate(270deg)
        }
